{% extends "./base.html" %}
{% block title %}
    Pasaje
{% endblock %}

{% block body %}
<div class="m-auto">
    <article>
        <p class="animate__animated animate__pulse animate__infinite"
        style="font-family: 'Comic Sans MS', sans-serif; font-size: 50px; ">SITU</p><br>
    </article>        
</div>

<div class="card"> 
    <div class="card-header">
        <h1>Gestión de Pasajeros</h1>
    </div>
    <div class="card-body container">
        <form action="" method="post" enctype ="multipart/form-data" >
            {% csrf_token %}
            {{form}}
            <hr>
            <div class="d-flex justify-content-center">
                <a class="btn btn-secondary mx-2" href="{% url 'pasajeros' %}">
                    Regresar
                </a>
                <input type="submit" value="Guardar" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
{% endblock body %}